<h1>Posts</h1>

<button {{action "makeRed"}}>Red</button>
<button {{action "makeBlue"}}>Blue</button>
<hr />
<button {{action "setColor" "black"}}>Black</button>
<button {{action "setColor" "white"}}>White</button>
<button {{action "setColor" "unknown"}}>unknown</button>
<hr />
<button {{action "changeColor" color}}>Change color</button>
<hr />
<div style="
    width: 50px; 
    height: 50px; 
    border: 2px solid gray;
    background-color: {{color}};
    ">{{color}}</div>
{{outlet}}

