{{!-- http://semantic-ui.com/collections/menu.html --}}
<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
        {{#each model.users as |item|}}
          {{#link-to 'users.user' item.id class="item"}}
            <i class="users icon"></i>{{item.name}}
          {{/link-to}}
        {{/each}}
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      {{#with model.user as |user|}}
        <h1><i class="user icon"></i>{{user.name}} ({{user.username}})</h1>
        <h2>{{user.company.catchPhrase}}</h2>
        <h3>{{user.company.name}}</h3>
        <div class="ui list">
          <div class="item"><i class="volume control phone icon"></i>{{user.phone}}</div>
          <div class="item"><i class="search icon"></i>{{user.website}}</div>
          <div class="item"><i class="mail outline icon"></i>{{user.email}}</div>
          <div class="item"></div>
          <div class="item">{{user.address.city}}</div>
          <div class="item">{{user.address.zipcode}}</div>
          <div class="item">{{user.address.suite}} {{user.address.street}}</div>
        </div>
      {{/with}}
    </div>
  </div>
</div>
{{outlet}}